:root {
    --update-fg: #9C5700;
    --update-bg: #FFEB9C; 
    --add-fg: #006100;
    --add-bg: #C6EFCE;
    --del-fg: #9C0006;
    --del-bg: #FFC7CE;
}

* {
    font-family: consolas;
    color: inherit;
    background-color: inherit;
}

body {
    margin: 0;
}

#content {
    margin: 8px;
}

.changedRow > td > input {
    color: var(--update-fg);
    background-color: var(--update-bg);
}

.deletedRow > td > input {
    color: var(--del-fg);
    background-color: var(--del-bg);
}

.addedRow > td > input {
    color: var(--add-fg);
    background-color: var(--add-bg);
}

.ruleName {
    width: 30em;
}

button {
    color: initial;
    background-color: initial;
}

button:not(:disabled):hover {
    background-color: lightgray;
}

.removeBtn {
    width: 100%;
}

.selectedButton {
    background-color: lightskyblue;
}
  
#logContents>table, #sftpUsers>table {
    border-collapse: collapse;  
}

#logContents td,#logContents th,
#sftpUsers td,#sftpUsers th{
    border: 1px solid black;
    padding: 0.25em 1em
}

.logRowOdd, .sftpRowOdd {
    background-color: lightgrey
}

#timeToUpdate {
    background-color: var(--update-bg);
    color: var(--update-fg);
    text-align: center;
    height: 2em;
    line-height: 2em;
    display: none;
    margin-bottom: 0.5em;
}