#notifications {
    position: absolute;
    width: 25em;
    right: 0;
    top: 0;
    padding: 0 0.5em;
  }
  
  .notification,
  #notifClearAll {
    min-height: 50px;
    border-radius: 0.5em;
    padding: 0.25em;
    margin: 10px 0;
    box-sizing: border-box;
    font-family: sans-serif;
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
  }
  
  #notifClearAll {
    display: none;
    width: 100%;
    min-height: 1.2em;
    background-color: #333;
    border: 1px solid black;
    color: white;
    text-align: center;
    user-select: none;
  }
  
  #notifClearAll:not(:only-child) {
    display: block;
  }
  
  .notification:hover,
  #notifClearAll:hover {
    opacity: 1;
  }
  
  .notifHeader,
  .notifHeaderRight {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2em;
  }
  
  .notifStatusInfo {
    background-color: #e1f2f9;
    border: 1px solid navy;
    color: navy;
  }
  
  .notifStatusError {
    background-color: #ffc7ce;
    border: 1px solid #9c0006;
    color: #9c0006;
  }
  
  .notifStatusWarning {
    background-color: #ffeb9c;
    border: 1px solid #9c5700;
    color: #9c5700;
  }
  
  .notifHeaderRight {
    margin-left: auto;
    margin-right: 0;
    align-self: flex-end;
  }
  
  .notifClose {
    margin-left: 1em;
    cursor: pointer;
  }
  
  .notifTitle {
    font-weight: bold;
  }
  